@rendermode InteractiveServer
@inject CategoryService CategoryService
@inject ExpenseService ExpenseService
@inject NavigationManager Nav
@using ExpenseTracker.Components.Data.Models
@using ExpenseTracker.Services


<div class="expense-form">

	<h3>@(IsEditMode ? "Edit Expense" : "Add Expense")</h3>

	<div style="margin-bottom: 1rem;">
		<label>Category</label>
		<select @bind="Expense.CategoryId">
			@foreach (var category in Categories)
			{
				<option value="@category.Id">@category.Name</option>
			}
		</select>
	</div>

	<div style="margin-bottom: 1rem;">
		<label>Title</label>
	<input @bind="Expense.Title" placeholder="Expense title" />
	</div>


	<div style="margin-bottom: 1rem;">
		<label>Amount</label>
		<input type="number" step="0.10" @bind="Expense.Amount" />
	</div>

	<div style="margin-bottom: 1rem;">
		<label>Date</label>
		<input type="date" @bind="Expense.Date" />
	</div>

	<div style="margin-bottom: 1rem;">
		<label>Type</label>
		<select @bind="Expense.Planned">
			@foreach (var type in Enum.GetValues(typeof(PlannedType)))
			{
				<option value="@type">@type</option>
			}
		</select>
	</div>



	<button @onclick="OnSave">
		@(IsEditMode ? "Update" : "Save")
	</button>

</div>


@code {
	[Parameter] public Expense Expense { get; set; } = new();
	[Parameter] public List<Category> Categories { get; set; } = new();
	[Parameter] public EventCallback OnSave { get; set; }
	[Parameter] public bool IsEditMode { get; set; } = false;

}

